<ion-header>
  <ion-navbar>
    
    <ion-title>Aanmelden</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
      <ion-item>
        <ion-label floating>Email Addres</ion-label>
        <ion-input type="text" [(ngModel)]= "user.email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>paswoord</ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    
    </ion-list>
    
    <div padding>
      <button ion-button block (click)="signInUser(user)">Sign In</button>
    </div>

</ion-content>
