<ion-header>
  <ion-navbar>
    
    <ion-title>Registreren</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    
      <ion-item>
        <ion-label floating>EmailAdres</ion-label>
        <ion-input type="text" [(ngModel)]= "user.email"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label floating>Paswoord</ion-label>
        <ion-input type="password" [(ngModel)] = "user.password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Bevestig Paswoord</ion-label>
        <ion-input type="password" #passwordcheck></ion-input>
      </ion-item>

      
    </ion-list>
    
    <div padding>
      <button ion-button block (click)="registerUser(user)">Registreer</button>
    </div>

</ion-content>
