<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>profile</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
      <ion-item>
          <ion-label floating>Voornaam</ion-label>
          <ion-input type="text" required [(ngModel)]="profile.firstName" #firstName></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Achternaam</ion-label>
            <ion-input type="text" required [(ngModel)]="profile.lastName" #lastName></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Geboortejaar</ion-label>
            <ion-input type="number" required [(ngModel)]="profile.birthYear" #birth ></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>bloedgroep (vb. O positief, O+)</ion-label>
            <ion-input type="text" required [(ngModel)]="profile.bloodGroup" #blood></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Medicatie (vb. Dafalgan, Aspirine)</ion-label>
            <ion-input type="text" required [(ngModel)]="profile.medication" #med></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>Alergieën (vb. huisstofmeid, Honden)</ion-label>
            <ion-input type="text" required [(ngModel)]="profile.alergic" #alergic></ion-input>
        </ion-item>

        <ion-item>
            <ion-label floating>gsm nr. contactpersoon </ion-label>
            <ion-input type="text" required [(ngModel)]="profile.PhoneNumber" #phone></ion-input>
      </ion-item>

  </ion-list>

  <button ion-button clear block (click)="createProfile(profile)">creër je profiel</button>

</ion-content>
