





<ion-header color="secondary">
  
    <ion-navbar class="header">
        <ion-title>Welkom</ion-title>
    </ion-navbar>
    
  
</ion-header>

<ion-content padding class="vw-content">

    
      
     
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
      <button ion-button block (click)="signIn()">Sign In</button>
      <br />
      <button ion-button block (click)="register()">Register</button>

</ion-content>
