<!--
  Generated template for the EdituserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>edituser</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item class="vw-items">
            <ion-label floating class="vw-labels">Voornaam</ion-label>
            <ion-input type="text" required  #firstName value="{{profileData.firstName}}">  </ion-input>
          </ion-item>
  
          <ion-item class="vw-items">
              <ion-label floating class="vw-labels">Achternaam</ion-label>
              <ion-input type="text" required  #lastName value="{{profileData.lastName}}"></ion-input>
          </ion-item>
  
          <ion-item class="vw-items">
              <ion-label floating class="vw-labels">Geboortejaar</ion-label>
              <ion-input type="number" required  #birth value="{{profileData.birthYear}}" ></ion-input>
          </ion-item>
  
          <ion-item class="vw-items">
              <ion-label floating class="vw-labels">bloedgroep (vb. O positief, O+)</ion-label>
              <ion-input type="text" required  #blood value="{{profileData.bloodGroup}}" ></ion-input>
          </ion-item>
  
          <ion-item class="vw-items">
              <ion-label floating class="vw-labels">Medicatie (vb. Dafalgan, Aspirine)</ion-label>
              <ion-input type="text" required  #med value="{{profileData.medication}}" ></ion-input>
          </ion-item>
  
          <ion-item class="vw-items">
              <ion-label floating class="vw-labels">Alergieën (vb. huisstofmeid, Honden)</ion-label>
              <ion-input type="text" required  #alergic value="{{profileData.alergic}}" ></ion-input>
          </ion-item>
  
          <ion-item class="vw-items">
              <ion-label floating class="vw-labels">gsm nr. contactpersoon </ion-label>
              <ion-input type="text" required  #phone value="{{profileData.PhoneNumber}}" ></ion-input>
        </ion-item>
  
    </ion-list>

    <button ion-button full (click)="UpdateUser()">Gegevens Opslaan</button>

</ion-content>
