<!--
  Generated template for the UserPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Jouw Profiel</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="vw-content">
  
  <div class="wv-content">
  <p class="size">Voornaam: {{profileData.firstName}}</p> <br />
  <p class="size">AchterNaam : {{profileData.lastName}}</p> <br />
  <p class="size">Geboortejaar : {{profileData.birthYear}}</p> <br />
  <p class="size">BloedGroep: {{profileData.bloodGroup}}</p> <br />
  <p class="size">Medicatie</p><textarea value="{{profileData.medication}}" disabled></textarea><br />
  <p class="size">Alergieën: </p><textarea value="{{profileData.alergic}}" disabled></textarea> <br />
  <p class="size">NoodNummer: {{profileData.PhoneNumber}}</p><br />
  
  <button ion-button full (click)="EditUser()">Gegevens Wijzigen</button>
</div>

</ion-content>
