<!--
  Generated template for the LoggedinPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <!--side-menu-->
  <ion-header >
    <ion-navbar>
      
      <button menuToggle icon-only ion-button>
        <ion-icon name="menu" style="color:white"></ion-icon>
      </button>
      <ion-title>SOS</ion-title>
    </ion-navbar>
  </ion-header>
  <ion-menu [content]="mycontent" class="sidemenu">
    <ion-content>
      <ion-list>
        <br/>
        <br/>
        <button ion-item menuClose (click)="OpenProfile()" >
          Profiel
        </button>
      
        
        <button ion-item menuClose (click)="signoutuser()" >
          Uitloggen
        </button>
      </ion-list>
    </ion-content>  
  </ion-menu>
  <ion-nav #mycontent [root]="rootPage"></ion-nav>
  
  
  
  


<ion-content padding class="testclass">
 
    <button  class="btn" (click)="Emergency()"></button>
    </ion-content>
